<nav class="navbar">
    <div class="container">
        <a href="{{ url_for('index') }}">Dashboard</a>
        <a href="{{ url_for('create_event') }}">Schedule Event</a>
        <a href="{{ url_for('create_json_event') }}">Create New Event</a>
        <a href="{{ url_for('tasks') }}">Scheduled Tasks</a>
        <a href="{{ url_for('event_monitor') }}">Event Monitor</a>
        <a href="{{ url_for('database_viewer') }}">Database</a>
        <a href="{{ url_for('options') }}">Settings</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
</nav>